* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
}

.header {
  display: flex;
  background-color: #252525;
  color: whitesmoke;
  justify-content: flex-start;
  padding: 60px 10px 10px 40px;
}

.navbar {
  list-style-type: upper-alpha;
  padding: 0.5rem;
  text-align: right;
  background-color: #252525;
  margin: 0;
}

.navbuttons {
  display: inline-block;
  margin-inline: 0.5rem;
  color: white;
  padding-right: 4rem;
}
